header {
  background-color: var(--main-color-light);
}

header nav {
  max-width: var(--main-content-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  
}

header nav ul li a {
  text-decoration: none;
  color: var(--main-color-dark);
  font-weight: 700;
  transition: all 0.3s;
}

header nav ul li a:hover,
header nav ul li a:active {
  color: var(--main-color-darkest);
}

header .btn:link,
header .btn:visited {
  padding: 2px 12px;
}

.logo {
  height: 2rem;
}

.hero-section {
  background-color: var(--main-color-light);
}

.hero-section-container {
  display: flex;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  padding: 4rem;
  gap: 3rem;
}

.hero-info {
  flex: 1;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
}

.hero-info-text {
  margin: 5rem 0;
}

.hero-info-title {
  font-size: 4rem;
  letter-spacing: -1px;
  line-height: 1;
}

.hero-info-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  display: inline-block;

  transition: all 0.3s;
}

.btn-full:link,
.btn-full:visited {
  background-color: var(--main-color);
  color: var(--main-color-lightest);
}

.btn-outline:link,
.btn-outline:visited {
  background-color: var(--main-color-lightest);
  color: var(--main-color-darkest);
  border: 3px solid var(--main-color-lightest);
  padding: 0.7rem 1.7rem;
}

.btn-full:hover,
.btn-full:active {
  background-color: var(--main-color-dark);
}

.btn-outline:hover,
.btn-outline:active {
  border: 3px solid var(--main-color);
}

.delivered-meals {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.delivered-meals-photos {
  display: flex;
  align-items: center;
}

.delivered-meals-photos img {
  width: 5rem;
  border-radius: 50%;
  margin-right: -1.5rem;
  border: 3px solid var(--main-color-lightest);
}

.delivered-meals-photos img:last-child {
  margin-right: 2rem;
}

.delivered-meals span {
  color: var(--main-color-dark);
  font-weight: 700;
}

.featured {
  max-width: var(--main-content-width);
  margin: 4rem auto;
  padding: 2rem;
  filter: brightness(0) opacity(0.55);
}

.featured-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.featured-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.featured-logos img {
  margin-top: 2rem;
  height: 3rem;
}

.how-it-works-container {
  max-width: 110rem;
  margin: 6rem auto;
  padding: 3rem;
}

.how-it-works-name {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
}

.how-it-works-title {
  margin-top: 1rem;
  font-size: 3rem;
}

.how-it-works-content {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 0.33fr 0.33fr 0.33fr;
  gap: 4rem;
  grid-row-gap: 6rem;
  align-items: center;
  justify-items: center;
}

.how-it-works-info {
  grid-column: span 2;
}

.how-it-works-info span {
  font-size: 6rem;
  font-weight: 700;
  color: var(--main-color-light);
}

.how-it-works-info-text {
  margin: 2rem 0;
}

.how-it-works-info-image {
  width: 100%;
  max-width: 17rem;
}

.how-it-works-info-image-container {
  position: relative;
}

.how-it-works-info-image-container::before {
  content: "";
  display: inline-block;
  width: 160%;
  padding-bottom: 160%;
  border-radius: 50%;
  background-color: var(--main-color-lightest);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.how-it-works-info-image-container::after {
  content: "";
  display: inline-block;
  width: 130%;
  padding-bottom: 130%;
  border-radius: 50%;
  background-color: var(--main-color-light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.meals {
  max-width: var(--main-content-width);
  margin: 4rem auto;
  padding: 0 2rem;
}

.meals h2,
.meals h3 {
  text-align: center;
}

.meals h2 {
  font-size: 4rem;
}

.meals h3 {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.meals-cards {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  
}

.meals-card {
  transition: all 0.3s;
}

.meals-card:hover {
  transform: translateY(-1rem);
}

.meals-card,
.meals-diets {
  flex: 1;
  min-width: 24rem;
  max-width: 32rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
}

.meals-card-text,
.meals-diets {
  padding: 2rem 4rem;
}

.meals-diets-list li {
  display: flex;
  gap: 1rem;
}

.meals-cards ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.meals-card-info b {
  font-weight: 600;
}

.meals-card-attribute {
  display: flex;
  gap: 1rem;
}

.meals ion-icon {
  align-self: center;
  width: 2.4rem;
  height: 2.4rem;
  color: var(--main-color);
}

.meals-card-image {
  display: block;
  width: 100%;
}

.meals-card-title {
  font-size: 2.4rem;
}

.meals-tag {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0 0.8rem;
  border-radius: 10rem;
  font-weight: 700;
  letter-spacing: .5px;
}

.meals-tag.vegetarian {
  background-color: rgb(8, 216, 8);
}

.meals-tag.vegan {
  background-color: rgb(133, 243, 133);
}

.meals-tag.paleo {
  background-color: rgb(231, 80, 53);
}

.meals-link:link,
.meals-link:visited {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  border-bottom: 1px solid currentColor;
  padding: 0.1rem;
  margin: 2rem auto;
  transition: all 0.3s;
  width: fit-content;
}

.meals-link:hover,
.meals-link:active {
  color: var(--main-color-dark);
  border-color: transparent;
}

.testimonials-section {
  display: flex;
  background-color: var(--main-color-light);
}

.testimonials {
  flex: 1;
  display: flex;
  gap: 6rem;
  flex-wrap: wrap;
  padding: 3rem;
}

.testimonial {
  max-width: 30rem;
}

.testimonial-image {
  width: 7rem;
  border-radius: 50%;
}

.testimonial-text {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.testimonial-author {
  margin-top: 1rem;
}

.gallery {
  flex: 1;
}