@import "../../variables.css";

.app {
  
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: var(--max-width);
  display: flex;
}

.container {
  
  align-self: flex-start;
  display: flex;
  justify-content: center;
  padding: 2rem;
}