:root {
  --color-primary-light: rgb(126, 213, 111);
  --color-primary-medium: rgb(85, 197, 122);
  --color-primary-dark: rgb(40, 180, 133);
  --color-section-background: #eee;
  --max-width: 130rem;
  --color-secondary-light: rgb(255, 185, 0);
  --color-secondary-dark: rgb(255, 119, 0);
  --color-tertiary-light: rgb(41, 152, 255);
  --color-tertiary-dark: rgb(86, 67, 255);
  --shadow-light: 0 1rem 2rem rgba(0,0,0, 0.15);
  --shadow-medium: 0 1rem 2rem rgba(0,0,0, 0.45);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: calc(1.2rem + 0.6vw);
  letter-spacing: 1px;
  padding: 1.5vw;
  color: #555;
}

.container-section {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 3rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.heading-secondary {
  display: inline-block;
  font-size: calc(1.2rem + 1.5vw);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}

.heading-secondary:hover {
  transform: skewY(-2deg) skewX(15deg) scale(1.05);
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.heading-tertiary {
  font-size: calc(1rem + 0.9vw);
  margin-bottom: 2rem;
}

.link {
  display: inline-block;
  padding: 0.4rem 1rem;
  color: var(--color-primary-dark);
  border-bottom: 1px solid var(--color-primary-dark);
  transition: all 0.3s;
}

.link:hover {
  background-color: var(--color-primary-dark);
  color: white;
  transform: translateY(-4px);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 10rem;
  transition: all 0.05s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
}

.btn-white {
  color: #333;
  background-color: #fff;
}

.btn-green {
  color: #fff;
  background-color: var(--color-primary-dark);
}

.btn:active {
  transform: translateY(2px);
}