.section-about {
  background-color: var(--color-section-background);
  margin-top: -20%;
  padding-top: 25%;
  padding-bottom: 25rem;
}

.about {
  margin-top: 4rem;
  gap: 2rem;
}

.about-info {
  flex: 1;
}

.about-info p {
  margin-bottom: 4rem;
  min-width: 40rem;
}

.about-image {
  flex: 1;
  height: 30rem;
  min-width: 40rem;
}

.about-image-container {
  width: 80%;
  height: 100%;
  position: relative;
}

.about-image img {
  width: 60%;
  position: absolute;
  transition: scale 0.3s;
  box-shadow: var(--shadow-medium);
}

.about-image img:hover {
  scale: 1.2;
  outline: var(--color-primary-dark) solid 7px;
  outline-offset: 1rem;
  z-index: 1
}

.about-image-picture1 {
  bottom: 0;
  left: 0;
}

.about-image-picture2 {
  top: 30%;
  right: 0;
  
}

.about-image-picture3 {
  left: 20%;
  top: 0;
  
}

@media screen and (max-width: 900px) {
  .about {
    flex-wrap: wrap;
  }

  .about-image {
    height: 40rem;
  }
}

@media screen and (max-width: 600px) {
  .section-about {
    padding-bottom: 30rem;
  }
  .about-image img {
    position: static;
  }

  .about-info {
    min-width: auto;
    font-size: 14px;
  }

  .about-info p {
    min-width: auto;
  }

  .about-image {
    min-width: none;
    width: 100%;
  }

  .about-image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}