.section-stories {
    position: relative;
}

.section-stories .container-section {
    padding: 6rem 2rem;
    gap: 4rem;
}

.stories {
    margin-top: 2rem;
    gap: 6rem;
}

.story {
    padding: 2rem 2rem 2rem 6rem;
    font-size: 2rem;
    width: 75%;
    border-radius: 5px;
    box-shadow: var(--shadow-light);
    background-color: rgba(255, 255, 255, 0.8);
    transform: skewX(-16deg);
}

.story--image-box {
    width: 16rem;
    height: 16rem;
    float: left;
    border-radius: 50%;
    shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(8deg);
    overflow: hidden;
    position: relative;
}

.story--title {
    margin-bottom: 1rem;
}

.story--image {
    height: 100%;
    transform: translateX(-3rem) scale(1.4) skewX(8deg);
    transition: all 0.4s;
}

.story--person-name {
    position: absolute;
    font-size: 2.5rem;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -20%) skewX(8deg);
    transition: all 0.4s;
}

.story:hover .story--image {
    transform: translateX(-4rem) scale(1) skewX(8deg);
    filter: blur(3px) brightness(80%);
}

.story:hover .story--person-name {
    opacity: 1;
    transform: translate(-50%, -50%) skewX(8deg);
}

.bg-video-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.65;
}

.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heading-box {
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    border-radius: 3px;
}

.stories--link {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
}

@media screen and (max-width: 1200px) {
    .story--image-box {
        width: 12rem;
        height: 12rem;
    }

    .story {
        font-size: 1.6rem;
    }
}