@import "../../../variables.css";

.sidebar {
  position: sticky;
  top: 100px;
  align-self: start;
  margin: 2rem;
}

.categories {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.55);
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--primary-color-lightest));
}

.category:hover {
  background-color: rgb(var(--primary-color-light));
  color: rgb(var(--primary-color-darkest));
}