@import "./variables.css";
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 16px;
  font-family: Inter, sans-serif;
  
}

body {
  background-color: rgb(var(--primary-color-lightest));
  color: rgb(var(--primary-color-darkest));
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.button {
  display: inline-block;
  background-color: rgb(var(--primary-color));
  padding: 0.5rem 1rem;
  color: rgb(var(--primary-color-lightest));
  border-radius: 5px;
  border: none;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
}

.button-muted {
  background-color: rgb(var(--primary-color-lightest));
  border: 1px solid;
  color: rgb(var(--primary-color-darkest));
}