@import "/variables.css";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--primary-color));
  min-height: 6rem;
  color: rgb(var(--primary-color-lightest));
}

.title {
  font-size: 32px;
}

.links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.links a {
  color: inherit;
}