.tag {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 25px;
  font-size: 16px;
  color: rgb(var(--primary-color-lightest));
}

.Travel {
  background-color: darkgreen;
}

.Food {
  background-color: chocolate;
}

.Style {
  background-color: rgb(131, 151, 18);
}

.Relationships {
  background-color: rgb(119, 18, 18);
}

.Coding {
  background-color: blueviolet;
}