.hero {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.65), rgba(40, 180, 133, 0.65)), url(img/hero.jpg);
  height: 95vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.logo {
  display: block;
  position: absolute;
  top: 4rem;
  left: 4rem;
  height: 4rem;
}

.header {
  text-align: center;
}

.heading-main {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  
}

.heading-main span:first-child {
  display: block;
  letter-spacing: 3rem;
  font-size: 6rem;
  animation-name: MoveLeft;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  backface-visibility: hidden;
}

.heading-main span:last-child {
  display: block;
  letter-spacing: 1rem;
  font-size: 2rem;
  margin: 3rem 0 5rem 0;
  animation-name: MoveRight;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  backface-visibility: hidden;
}

@keyframes MoveLeft {
  0% {
    opacity: 0;
    translate: 10rem;
  }

  100% {
    translate: 0;
  }
}

@keyframes MoveRight {
  0% {
    opacity: 0;
    translate: -10rem;
  }

  100% {
    translate: 0;
  }
}

@keyframes MoveTop {
  0% {
    opacity: 0;
    translate: 0 5rem;
  }

  100% {
    translate: 0;
  }
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 10rem;
  transition: all 0.05s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0);
}

.btn-white {
  color: #333;
  background-color: #fff;
}

.btn:active {
  transform: translateY(2px);
}

.header .btn {
  animation: MoveTop 2s 1s backwards;
  position: relative;
}

.header .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.0);
  transition: all 0.3s;
}

.header .btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.header .btn:hover::after {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.header .btn:active::after {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.0);
}

.header .btn::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s;
}

.header .btn:hover::before {
  scale: 1.6 1.5;
  opacity: 0;
}

.about-section {
  background-color: #eee;
  margin-top: -20%;
  padding-top: 25%;
}

.about {
  gap: 2rem;
}

.about-info {
  flex: 1;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 33%;
}