.container {
  padding: 2rem;
}

.hero {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.65), rgba(40, 180, 133, 0.65)), url(img/hero.jpg);
  height: 95vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.logo {
  display: block;
  position: absolute;
  top: 4rem;
  left: 4rem;
  height: 4rem;
}

.heading-main {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  letter-spacing: 3rem;
  font-size: 6rem;
}

.heading-main span {
  display: block;
  letter-spacing: 1rem;
  font-size: 2rem;
  margin-top: 3rem;
}